/********************************
 *  Global custom dashboard styles
 ********************************/
.custom-dashboard-progress .custom-dashboard-progress-summary.apprentice-summary {
    background: linear-gradient(to right, var(--transparent-pink), var(--transparent-purple));
}

.custom-dashboard-progress .custom-dashboard-progress-summary.guru-summary {
    background: linear-gradient(to right, var(--transparent-purple), var(--transparent-dark-blue));
}

.custom-dashboard-progress .custom-dashboard-progress-summary.master-summary {
    background: linear-gradient(to right, var(--transparent-dark-blue), var(--transparent-light-blue));
}

.custom-dashboard-progress .custom-dashboard-progress-summary.enlightened-summary {
    background: linear-gradient(to right, var(--transparent-light-blue), var(--transparent-gold));
}

.custom-dashboard-progress .custom-dashboard-progress-summary.burned-summary {
    background: linear-gradient(to right, var(--transparent-gold), var(--transparent-maroon));
}

.custom-lessons-and-reviews .custom-lessons-and-reviews-summary.lessons-summary {
    background: linear-gradient(to right, var(--transparent-lesson-colour), var(--transparent-review-colour));
}

.custom-lessons-and-reviews .custom-lessons-and-reviews-summary.reviews-summary {
    background: linear-gradient(to right, var(--transparent-review-colour), var(--transparent-dark-green));
}

.custom-lessons-and-reviews .custom-lessons-and-reviews-summary.next-review-summary {
    background: linear-gradient(to right, var(--transparent-dark-green), var(--transparent-maroon));
}

.all-done .progress-entries:after,
.all-done.custom-div:after {
    content: '';
    position: relative;
    left: 50%;
    width: 20px; 
    height: 20px;
    border: 1px solid var(--green);
    border-radius: 50%;
}

.custom-section {
    display: flex;
    background: var(--grey);
    border: var(--dark-grey) 1px solid;
    border-radius: 5px;
    box-shadow: inset 0 0 10px var(--dark-grey);
}

.custom-summary {
    padding: 15px;
    width: calc(100%/3);
}

.custom-summary:not(:last-child) {
    border-right: var(--dark-grey) 1px solid;
}

.custom-summary > h2 {
    font-size: 22px;
    line-height: 20px;
}

.custom-summary > span {
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 3px;
}

.custom-summary > .custom-button {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}

.custom-summary > .custom-button:hover {
    color: var(--white);
    text-decoration: none;
}

.custom-summary > .custom-button.custom-progress-summary-button {
    float: right;
    background: var(--dark-grey);
    border: 1px solid var(--dark-grey);
}

.custom-summary > .custom-button.custom-progress-summary-button.selected {
    background: var(--green);
    border: 1px solid var(--black);
}

.custom-summary > .custom-button.custom-progress-summary-button:hover,
.custom-summary > .custom-button.custom-progress-summary-button.selected:hover {
    background: var(--dark-green);
    transition: 0.5s;
    cursor: pointer;
}

.custom-summary > .custom-button.custom-progress-summary-button {
    float: right;
    background: var(--dark-grey);
    border: 1px solid var(--dark-grey)
}

.custom-lessons-and-reviews-button.reviews-button {
    background: var(--review-colour);
}
.custom-lessons-and-reviews-button.lessons-button {
    background: var(--lesson-colour);
}

.level-progress-indicator {
    position: absolute;
    padding-top: 10px;
}

.level-progress-indicator > span {
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 10px;
}

.level-progress-indicator .progress-ring .progress-ring-circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: var(--lesson-colour);
}

.custom-div.progress-entries {
    width: 100%;
    padding: 20px 10px;
}
.custom-div.border-bottom {
    border-bottom: var(--dark-grey) 1px solid;
}

.custom-div.kanji-in-progress .progress-entry:first-child {
    margin-left: 65px;
}

.custom-dashboard-loader {
    color: var(--dark-grey);
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    transform: translateZ(0);
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    font-size: 90px;
  }
  
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }