/********************************
 *  Items section and progress entry styles
 ********************************/
/* Main wrapper styles */
 .custom-items { 
    padding: 12px 24px; 
    margin-bottom: 30px; 
    background: var(--light-grey); 
} 

.custom-items section { 
    margin-bottom: 0; 
} 

/* Progress entry styles */
.custom-items section .progress-entries { 
    grid-template-columns: none; 
    display: flex; 
}

.custom-items section .progress-entries .progress-entry-header {
    width: 100%;
}

.custom-items section .progress-entries .progress-entry { 
    height: 40px; 
} 

.custom-items section .progress-entries .progress-entry.radical, 
.custom-items section .progress-entries .progress-entry.kanji { 
    width: 40px; 
} 

.custom-items section .progress-entries .progress-entry.kanji a.kanji-icon.locked {
    background: var(--dark-grey);
}

.custom-items section .progress-entries .progress-entry.vocabulary .vocabulary-icon { 
    height: 40px;
    font-size: 21px;
}

.custom-items section .progress-entries .progress-entry.vocabulary .vocabulary-icon:hover { 
    text-decoration: none;
}

/********************************
 *  Item level and SRS level indicator styles
 ********************************/  
/* Level and SRS level indicator wrapper styles */
.custom-items section .progress-entries .progress-entry a .progress-item-level,
.custom-items section .progress-entries .progress-entry a .progress-item-srs-level { 
    position: absolute;
    width: 15px;
    border: 0.5px solid var(--white);
    border-radius: 50%;
    font-size: 9px;
    font-weight: bold;
    line-height: 14px;
}

/* Item level styles */
.custom-items section .progress-entries .progress-entry a .progress-item-level { 
    background: var(--dark-green);
    bottom: -5px;
    right: -5px;
}

/* Item SRS level styles */
.custom-items section .progress-entries .progress-entry a .progress-item-srs-level { 
    top: -5px;
    right: -5px;
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-0 { 
    background: var(--dark-green);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-1 { 
    background: var(--black);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-2 { 
    background: var(--dark-grey);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-3 { 
    background: var(--lesson-colour-lighter);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-4 { 
    background: var(--lesson-colour-darker);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-5 { 
    background: var(--purple);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-6 { 
    background: var(--dark-blue);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-7 { 
    background: var(--review-colour-darker);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-8 { 
    background: var(--gold-darker);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-9 { 
    background: var(--maroon);
}

/********************************
 *  Tooltip styles
 ********************************/  
/* Item tooltip wrapper styles */
.custom-item-tooltip .custom-item-tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--transparent-black);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Item tooltip content styles */
.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-entries {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-accepted-entries .custom-item-tooltip-text-entries.item-readings {
    background: var(--dark-green);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-accepted-entries .custom-item-tooltip-text-entries.item-meanings {
    background: var(--dark-grey);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-not-accepted-entries .custom-item-tooltip-text-entries.item-readings {
    background: var(--maroon);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-not-accepted-entries .custom-item-tooltip-text-entries.item-meanings {
    background: var(--black);
}
  
.custom-item-tooltip .custom-item-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--transparent-black) transparent transparent transparent;
}
  
.custom-item-tooltip:hover .custom-item-tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Next review tooltip wrapper styles */
.custom-lessons-and-reviews-summary-tooltip.future-reviews {
    display: none;
    background-color: var(--transparent-black);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    right: 110px;
}

.custom-lessons-and-reviews-summary-tooltip.future-reviews::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    margin-left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--transparent-black) transparent transparent;
}

/* Next review tooltip content styles */
.custom-lessons-and-reviews-summary-tooltip.future-reviews .custom-lessons-and-reviews-summary.future-review-summary {
    width: auto;
    background: var(--purple);
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 10px;
}

.custom-lessons-and-reviews-summary-tooltip.future-reviews .custom-lessons-and-reviews-summary.future-review-summary > h2 {
    margin: 0 0 5px 0;
    font-size: 20px;
    line-height: 15px;
}

.custom-lessons-and-reviews-summary-tooltip.future-reviews .custom-lessons-and-reviews-summary.future-review-summary > span {
    margin: 0;
    font-size: 12px;
    line-height: 10px;
}