/********************************
 *  Custom items section, item and tooltip styles.
 ********************************/
.custom-items { 
    padding: 12px 24px; 
    margin-bottom: 30px; 
    background: var(--light-grey); 
} 

.custom-items section { 
    margin-bottom: 0; 
} 

.custom-items section .progress-entries { 
    grid-template-columns: none; 
    display: flex; 
} 

.custom-items section .progress-entries .progress-entry { 
    height: 40px; 
} 

.custom-items section .progress-entries .progress-entry.radical, 
.custom-items section .progress-entries .progress-entry.kanji { 
    width: 40px; 
} 

.custom-items section .progress-entries .progress-entry.vocabulary .vocabulary-icon { 
    height: 40px;
    font-size: 21px;
}

.custom-items section .progress-entries .progress-entry.vocabulary .vocabulary-icon:hover { 
    text-decoration: none;
}

.custom-items section .progress-entries .progress-entry a .progress-item-level { 
    position: absolute;
    padding: 0px 4px;
    background: var(--dark-green);
    border: 0.5px solid var(--white);
    border-radius: 50%;
    bottom: -5px;
    right: -5px;
    font-size: 9px;
    font-weight: bold;
    line-height: 14px;
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level { 
    position: absolute;
    padding: 0px 4px;
    border: 0.5px solid var(--white);
    border-radius: 50%;
    top: -5px;
    right: -5px;
    font-size: 9px;
    font-weight: bold;
    line-height: 14px;
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level { 
    background: var(--dark-grey);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-1 { 
    background: var(--black);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-2 { 
    background: var(--maroon);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-3 { 
    background: var(--lesson-colour-darker);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-4 { 
    background: var(--review-colour-darker);
}

.custom-item-tooltip .custom-item-tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--transparent-black);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-entries {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-accepted-entries .custom-item-tooltip-text-entries.item-readings {
    background: var(--dark-green);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-accepted-entries .custom-item-tooltip-text-entries.item-meanings {
    background: var(--dark-grey);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-not-accepted-entries .custom-item-tooltip-text-entries.item-readings {
    background: var(--maroon);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-not-accepted-entries .custom-item-tooltip-text-entries.item-meanings {
    background: var(--black);
}
  
.custom-item-tooltip .custom-item-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--transparent-black) transparent transparent transparent;
}
  
.custom-item-tooltip:hover .custom-item-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.custom-lessons-and-reviews-summary-tooltip.future-reviews {
    display: none;
    background-color: var(--transparent-black);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 15%;
}

.custom-lessons-and-reviews-summary-tooltip.future-reviews::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    margin-left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--transparent-black) transparent transparent;
}

.custom-lessons-and-reviews-summary-tooltip.future-reviews .custom-lessons-and-reviews-summary.future-review-summary {
    width: auto;
    background: var(--purple);
    border-radius: 5px;
    border: none;
    margin: 10px;
}