:root {
    --reviewColour:        #00aaff;
    --lessonColour:        #ff00aa;
    --reviewColourDarker:  #0279b5;
    --lessonColourDarker:  #bd007e;
    --reviewColourLighter: #80d4ff;
    --lessonColourLighter: #fa7acf;
    --white:               #ffffff;
    --grey:                #f4f4f4;
}

.navigation-shortcuts .navigation-shortcut--reviews > a.has-reviews > span {
    background: var(--reviewColour);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navigation-shortcuts .navigation-shortcut--lessons > a.has-lessons > span {
    background: var(--lessonColour);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lessons-and-reviews .lessons-and-reviews__reviews-button.has-reviews, 
.navigation-shortcuts .navigation-shortcut--reviews > a.has-reviews { 
    --start-pulse: var(--reviewColourDarker);
    --end-pulse: var(--reviewColourLighter);
    animation: buttonPulse 2s infinite; 
} 

.lessons-and-reviews .lessons-and-reviews__lessons-button.has-lessons, 
.navigation-shortcuts .navigation-shortcut--lessons > a.has-lessons { 
    --start-pulse: var(--lessonColourDarker);
    --end-pulse: var(--lessonColourLighter);
    animation: buttonPulse 2s infinite; 
}

.progress-and-forecast .forecast > h1 {
    margin-bottom: 5px;
}

.progress-and-forecast .forecast .auto-refresh-indicator {
    margin-bottom: 12px;
    font-weight: bold;
}


@keyframes buttonPulse { 
    0% { 
        box-shadow: 0 0 0 0 var(--start-pulse); 
    } 
    70% { 
        box-shadow: 0 0 0 7px var(--white); 
    } 
    100% { 
        box-shadow: 0 0 0 0 var(--end-pulse); 
    } 
} 