:root {
    --reviewColour:        #00aaff;
    --lessonColour:        #ff00aa;
    --reviewColourDarker:  #0279b5;
    --lessonColourDarker:  #bd007e;
    --reviewColourLighter: #80d4ff;
    --lessonColourLighter: #fa7acf;
    --white:               #ffffff;
    --grey:                #f4f4f4;
}

.lessons-and-reviews .lessons-and-reviews__reviews-button.has-reviews { 
    /* animation: reviewPulse 2s infinite;  */
    --start-pulse: var(--reviewColourDarker);
    --end-pulse: var(--reviewColourLighter);
    animation: buttonPulse 2s infinite; 
} 

.lessons-and-reviews .lessons-and-reviews__lessons-button.has-lessons { 
    /* animation: lessonPulse 2s infinite;  */
    --start-pulse: var(--lessonColourDarker);
    --end-pulse: var(--lessonColourLighter);
    animation: buttonPulse 2s infinite; 
} 


@keyframes buttonPulse { 
    0% { 
        box-shadow: 0 0 0 0 var(--start-pulse); 
    } 
    70% { 
        box-shadow: 0 0 0 7px var(--white); 
    } 
    100% { 
        box-shadow: 0 0 0 0 var(--end-pulse); 
    } 
} 


@keyframes reviewPulse { 
    0% { 
        box-shadow: 0 0 0 0 var(--reviewColourDarker); 
    } 
    70% { 
        box-shadow: 0 0 0 7px var(--white); 
    } 
    100% { 
        box-shadow: 0 0 0 0 var(--reviewColourLighter); 
    } 
} 

@keyframes lessonPulse { 
    0% { 
        box-shadow: 0 0 0 0 var(--lessonColourDarker); 
    } 
    70% { 
        box-shadow: 0 0 0 7px var(--white); 
    } 
    100% { 
        box-shadow: 0 0 0 0 var(--lessonColourLighter); 
    } 
}