/********************************
 *  Level progress styles
 ********************************/
/* Level progress indictor ring styles */
.level-progress-indicator {
    position: absolute;
    margin-top: 35px;
}

.level-progress-indicator > span {
    position: absolute;
    width: 31px;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 10px;
    text-align: center;
}

.level-progress-indicator .progress-ring .progress-ring-circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: var(--lesson-colour);
}

.level-progress-indicator .progress-ring .progress-ring-circle-track {
    stroke: var(--grey);
}

/* Level progress entry and div styles */
.custom-div.progress-entries {
    width: 100%;
    padding: 0 10px 20px 10px;
}

.custom-div.border-bottom {
    border-bottom: var(--dark-grey) 1px solid;
}

.custom-div.kanji-in-progress .progress-entry:first-of-type {
    margin-left: 65px;
}

/********************************
 *  Items section and progress entry styles
 ********************************/
 .custom-items section .progress-entries .progress-entry.kanji a.kanji-icon.locked {
    background: var(--dark-grey);
}