/********************************
 *  Custom section and summary styles
 ********************************/
/* Green circle for completed/empty sections */
.all-done .progress-entries:after,
.all-done.custom-div:after {
    content: '';
    position: relative;
    left: 50%;
    width: 20px; 
    height: 20px;
    border: 1px solid var(--all-done-ring-colour);
    border-radius: 50%;
}

/* Main custom section styles */
.custom-section {
    display: flex;
    background: var(--section-background);
    border: var(--common-border) 1px solid;
    border-radius: 5px;
    box-shadow: inset 0 0 10px var(--common-border);
}

/* Custom summary styles */
.custom-summary {
    position: relative;
    padding: 15px;
    width: calc(100%/3);
}

.custom-summary:not(:last-child):not(.next-review-summary) {
    border-right: var(--common-border) 1px solid;
}

.custom-summary > h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
}

.custom-summary > span {
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 3px;
}

.custom-summary > span.custom-summary-vocabulary {
    margin-bottom: 50px;
}

/* Custom summary button styles */
.custom-summary > .custom-button {
    display: block;
    position: absolute;
    width: calc(100% - 50px);
    bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    color: var(--text-colour);
}

.custom-summary > .custom-button:hover {
    color: var(--text-colour);
    text-decoration: none;
}


/********************************
 *  Items section and progress entry styles
 ********************************/
/* Main wrapper styles */
.custom-items { 
    padding: 12px 24px; 
    margin-bottom: 30px; 
    background: var(--section-underlayer-background); 
} 

.custom-items section { 
    background: var(--section-items-background);
    margin-bottom: 0;
} 

/* Progress entry styles */
.custom-items section .progress-entries { 
    grid-template-columns: none; 
    display: flex; 
}

.custom-items section .progress-entries .progress-entry-header {
    width: 100%;
}

.custom-items section .progress-entries .progress-entry { 
    height: 40px; 
} 

.custom-items section .progress-entries .progress-entry.radical, 
.custom-items section .progress-entries .progress-entry.kanji { 
    width: 40px; 
}

.custom-items section .progress-entries .progress-entry.vocabulary .vocabulary-icon { 
    height: 40px;
    font-size: 21px;
}

.custom-items section .progress-entries .progress-entry.vocabulary .vocabulary-icon:hover { 
    text-decoration: none;
}


/********************************
 *  Item level and SRS level indicator styles
 ********************************/  
/* Level and SRS level indicator wrapper styles */
.custom-items section .progress-entries .progress-entry a .progress-item-level,
.custom-items section .progress-entries .progress-entry a .progress-item-srs-level { 
    position: absolute;
    width: 15px;
    border: 0.5px solid var(--text-colour);
    border-radius: 50%;
    font-size: 9px;
    font-weight: bold;
    line-height: 14px;
}

/* Item level styles */
.custom-items section .progress-entries .progress-entry a .progress-item-level { 
    background: var(--item-level-icon-background);
    bottom: -5px;
    right: -5px;
}

/* Item SRS level styles */
.custom-items section .progress-entries .progress-entry a .progress-item-srs-level { 
    top: -5px;
    right: -5px;
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-0 { 
    background: var(--srs-icon-background-0);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-1 { 
    background: var(--srs-icon-background-1);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-2 { 
    background: var(--srs-icon-background-2);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-3 { 
    background: var(--srs-icon-background-3);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-4 { 
    background: var(--srs-icon-background-4);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-5 { 
    background: var(--srs-icon-background-5);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-6 { 
    background: var(--srs-icon-background-6);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-7 { 
    background: var(--srs-icon-background-7);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-8 { 
    background: var(--srs-icon-background-8);
}

.custom-items section .progress-entries .progress-entry a .progress-item-srs-level.srs-level-9 { 
    background: var(--srs-icon-background-9);
}


/********************************
 *  Tooltip styles
 ********************************/
/* Item tooltip wrapper styles */
.custom-item-tooltip .custom-item-tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--tooltip-background);
    color: var(--text-colour);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Item tooltip content styles */
.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-entries {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-accepted-entries .custom-item-tooltip-text-entries.item-readings {
    background: var(--tooltip-right-reading-background);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-accepted-entries .custom-item-tooltip-text-entries.item-meanings {
    background: var(--tooltip-right-meaning-background);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-not-accepted-entries .custom-item-tooltip-text-entries.item-readings {
    background: var(--tooltip-not-right-reading-background);
}

.custom-item-tooltip .custom-item-tooltip-text .custom-item-tooltip-text-not-accepted-entries .custom-item-tooltip-text-entries.item-meanings {
    background: var(--tooltip-not-right-meaning-background);
}
  
.custom-item-tooltip .custom-item-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-background) transparent transparent transparent;
}
  
.custom-item-tooltip:hover .custom-item-tooltip-text {
    visibility: visible;
    opacity: 1;
}