:root {
    --white:      #ffffff;
    --black:      #000000;
    --grey:       #f4f4f4;
    --pink:       #dd0093;
    --purple:     #882d9e;
    --dark-blue:  #294ddb;
    --light-blue: #0093dd;
    --maroon:     #800000;
    --gold:       #ffd700;
    --green:      #218139;
}

.srs-progress #apprentice {
    background: linear-gradient(to right, var(--pink), var(--purple));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.srs-progress #guru {
    background: linear-gradient(to right, var(--purple), var(--dark-blue));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.srs-progress #master {
    background: linear-gradient(to right, var(--dark-blue), var(--light-blue));text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.srs-progress #enlightened {
    background: linear-gradient(to right, var(--light-blue), var(--gold));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.srs-progress #burned {
    background: linear-gradient(to right, var(--gold), var(--maroon));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.progress-component .rounded.radicals.all-done .progress-entries::after,
.progress-component .rounded.kanji.all-done .progress-entries::after {
    content: '✔';
    position: relative;
    left: 20vw;
    width: 20px; 
    height: 20px;
    text-align: center;
    color: var(--green);
    border: 1px solid var(--green);
    background: var(--white);
    border-radius: 50%;
}