.srs-progress #apprentice {
    background: linear-gradient(to right, var(--pink), var(--purple));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.srs-progress #guru {
    background: linear-gradient(to right, var(--purple), var(--dark-blue));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.srs-progress #master {
    background: linear-gradient(to right, var(--dark-blue), var(--light-blue));text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.srs-progress #enlightened {
    background: linear-gradient(to right, var(--light-blue), var(--gold));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.srs-progress #burned {
    background: linear-gradient(to right, var(--gold), var(--maroon));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.progress-component .rounded.all-done .progress-entries {
    content: '';
    position: relative;
    left: 50%;
    width: 20px; 
    height: 20px;
    border: 1px solid var(--green);
    border-radius: 50%;
}