/********************************
 *  Additional functions variables
 *  Kept separate from theming
 ********************************/
:root {
    --white-text:   #ffffff;
}

/********************************
 *  Skip lesson/review summary styles
 ********************************/
/* Lesson "Go to Homepage" button */
#screen-lesson-ready .btn-set #lesson-ready-end,
#screen-lesson-done .btn-set #lesson-ready-end {
    padding: 0;
}

#screen-lesson-ready .btn-set #lesson-ready-end .lesson-skip-to-homepage,
#screen-lesson-done .btn-set #lesson-ready-end .lesson-skip-to-homepage {
    display: block;
    padding: 0.75em;
    color: var(--white-text);
}